<div class="footer">
  <div class="footer-copyright">
    <p><strong>© 2019 Sahara Journeys</strong> - All rights reserved <br>
    by <strong>nomadic association</strong></p>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>
