<div class="container">

  <div class="itinerary">
    <div class="col-xs-12 col-md-6">
      <h4><%= selected_tour.title %> tour</h4>
      <p><%= selected_tour.description_first %></p>
      <p><%= selected_tour.description_second %></p>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="itinerary-card" style="background-image: url(<%= selected_tour.picture %>)">
      </div>
    </div>
  </div>

</div>
