@import url('https://fonts.googleapis.com/css?family=Fahkwang|Montserrat');


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Bebas Neue W01";
//   src: font-url('Bebas-Neue-W01.eot');
//   src: font-url('Bebas-Neue-W01.eot?#iefix') format('embedded-opentype'),
//        font-url('Bebas-Neue-W01.woff') format('woff'),
//        font-url('Bebas-Neue-W01.ttf') format('truetype')
// }

// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Fahkwang", "Helvetica", "sans-serif";

body {
  letter-spacing: 0.3px;
  h2 {
    color: $white;
    padding: 35px;
  }
  h4 {
    color: $orange;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
  }
}
a {
  cursor: pointer;
  * {
    pointer-events: none;
  }
}

.x-small {
  font-size: 70%;
}
