$black:  #333333;
$gray:   #595959;
$yellow: #FBC547;
$white:  #fffaf2;
$orange: #ff7856;

$red-damask: #FF6C1E;
$mine-shaft: #2F2F2F;
$copper-rust: #DB504A;
$don-juan: #2E86AB;
$bay-leaf: #27AF89;
$rajah: #F18F01;
