<nav class="menu-left bg-black text-white" id="main-menu">
  <section class="border-top border-white-10 text-uppercase">
    <ul class="list-unstyled list-dashed p-5">
      <li>
        <a class="x-small font-weight-bold text-white py-2 px-3 mb-0" href="">
          profile
        </a>
      </li>
      <li>
        <a class="x-small font-weight-bold text-white py-2 px-3 mb-0" href="">
          Help
        </a>
      </li>
        <li>
          <a class="x-small font-weight-bold text-white py-2 px-3 mb-0" href="">
            Help
          </a>
        </li>
      <li>
        <a class="x-small font-weight-bold text-white py-2 px-3 mb-0" href="">
          Privacy
        </a>
      </li>
      <li>
        <a class="x-small font-weight-bold text-white py-2 px-3 mb-0" href="">
          Help
        </a>
      </li>
      <li>
        <a class="x-small font-weight-bold text-white py-2 px-3 mb-0" href="">
          Settings
        </a>
      </li>
    </ul>
  </section>
</nav>


