<nav class="menu-left d-block d-sm-none" id="main-menu">
  <section class="border-top border-white-10 text-uppercase">
    <ul class="list-unstyled list-dashed p-5">
      <li>
        <%= link_to "Home", "/", class: "font-weight-bold py-2 px-3 mb-0"%>
      </li>
      <li>
        <%= link_to "Tours", "/tours", class: "font-weight-bold py-2 px-3 mb-0"%>
      </li>
        <li>
        <%= link_to "Team", "/team", class: "font-weight-bold py-2 px-3 mb-0"%>
        </li>
      <li>
        <%= link_to "Contact", "/contact", class: "font-weight-bold py-2 px-3 mb-0"%>
      </li>
    </ul>
  </section>
</nav>


