.icon-burger {
  @include responsive-square;
  @include icon-expand-animation;

  span {
    pointer-events: none;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: $white;
    border: none;
    left: 0;
    pointer-events: none;
    border-radius: 2px;
  }

  span:first-child {
    top: 5px;
  }

  span:nth-child(2) {
    top: calc(50% - 1px);
  }

  span:last-child {
    bottom: 5px;
    width: 50%;
  }

}
