  <section class="contact-wrap">
      <form accept-charset="UTF-8" action="https://formkeep.com/f/exampletoken" method="POST" class="contact-form col-xs-12 col-sm-6 offset-md-3">
              <h1>Contact Us</h1>

              <div class="input-block input-half">
                  <label class="form-control-label" for="">First Name</label>
                  <input class="form-control" type="text">
              </div>
              <div class="input-block input-half">
                  <label class="form-control-label" for="">Last Name</label>
                  <input class="form-control" type="text">
              </div>


              <div class="input-block">
                  <label class="form-control-label" for="">Email</label>
                  <input type="email" name="email" class="form-control">
              </div>


              <div class="input-block">
                  <label class="form-control-label" for="">Message Subject</label>
                  <input class="form-control" type="text">
              </div>


              <div class="input-block textarea">
                  <label class="form-control-label" for="">Drop your message here</label>
                  <textarea rows="3" type="text" class="form-control"></textarea>
              </div>

          <input type="hidden" name="utf8" value="✓">
              <button class="square-button">Send</button>
      </form>
      <a href="mailto:antoinecquellier@gmail.com">Contact Us</a>
  </section>

