  <section class="contact-wrap col-xs-12 col-md-6 offset-md-3">
            <div class="contact-section">
              <h2><span class="orange-text">Contact us</span> and start planning your adventure with Sahara Journeys</h2>
              <p>To book a trip or for any other question related to Morocco or to one of our tours, do not hesitate to contact us. We can arrange custom tours tailored to your specific needs and desires.</p>
              <p>As tour guides, we are often on the road. Contact us by phone to get an instant answer. Otherwise you can use the form below for a more detailed request.</p>
            </div>

            <div class="contact-section">
              <h4>Contact information</h4>
              <p><i class="fas fa-envelope orange-text"> </i> info@sahara-journeys.com</p>
              <p><i class="fas fa-mobile-alt orange-text"></i> Mohammed, +212 601-472712</p>
            </div>

      <form accept-charset="UTF-8" action="https://formspree.io/your@email.com" method="POST" class="contact-form contact-section">
              <h4>Leave us a message</h4>
              <div class="input-block">
                  <label class="form-control-label" for="">First Name</label>
                  <input class="form-control" type="text">
              </div>
              <div class="input-block">
                  <label class="form-control-label" for="">Last Name</label>
                  <input class="form-control" type="text">
              </div>

              <div class="input-block">
                  <label class="form-control-label" for="">Email</label>
                  <input type="email" name="email" class="form-control">
              </div>

              <div class="input-block">
                  <label class="form-control-label" for="">Message Subject</label>
                  <input class="form-control" type="text">
              </div>

              <div class="input-block textarea">
                  <label class="form-control-label" for="">Drop your message here</label>
                  <textarea rows="3" type="text" class="form-control"></textarea>
              </div>

          <input type="hidden" name="utf8" value="✓">
              <button class="square-button">Send</button>
      </form>
  </section>
