<% set_meta_tags title: data.site.name + ": " + data.site.description,
                 full_title: false %>
<div class="banner main">
  <div class="container banner-text">
    <h1>ZAGORA</h1>
    <p>Experience the desert <%= current_page.data.title %></p>
    <%= current_page.data.title %>
  </div>
</div>

<div class="banner medium">
  <div class="container">
    <h4>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ut veniam, distinctio vel excepturi molestiae laudantium incidunt maiores eligendi quae dicta culpa sint quasi soluta hic similique nulla error. Similique.
    </h4>
  </div>
</div>

<div class="banner medium" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),
    url(https://images.unsplash.com/photo-1545167496-31b3aa75296c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);">
  <div class="container">
    <h2>What our guest say about us</h2>
      <div class="container single-slider single-item">
        <% data.testimonials.each do |testimonial| %>
        <div>
          <p><%= testimonial.content %></p>
          <p><%= testimonial.author %></p>
        </div>
        <% end %>
      </div>
  </div>
</div>
