<% set_meta_tags title: data.site.name + ": " + data.site.description,
                 full_title: false %>
<div class="banner">
  <div class="container">
    <h1>ZAGORA</h1>
    <p>Experience the desert</p>
  </div>
</div>
