
<div class="team-container">
  <div class="container">
    <section>
      <p> <strong>Our team </strong>lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam maxime libero recusandae non reiciendis in laborum aliquam quo eveniet explicabo distinctio voluptatibus hic, nemo nihil repudiandae labore sit amet. Quod.</p>
    </section>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="team-card">
          <%= image_tag "avatar.jpg", class: 'avatar-xl' %>
          <h5>Mohammed</h5>
          <h6>Guide / Driver</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, libero necessitatibus corporis expedita tenetur harum laboriosam aspernatur reiciendis, vitae quidem et, dolore totam odio eaque incidunt. Deserunt necessitatibus, optio enim.</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="team-card">
          <%= image_tag "avatar.jpg", class: 'avatar-xl' %>
          <h5>Mustapha</h5>
          <h6>Guide / Driver</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ipsa, sed amet. Facilis fuga, placeat reprehenderit voluptatibus sint. Sint officia totam saepe. Nesciunt voluptas quas libero rem, voluptates temporibus iste!</p>
        </div>
      </div>
    </div>
  </div>
</div>


