<% set_meta_tags title: data.site.name + ": " + data.site.description,
                 full_title: false %>
<div class="banner main tours">
  <div class="container">
    <h1>SAHARA JOURNEYS</h1>
    <p>Experience authentic Morocco</p>
  </div>
</div>

<div class="text-banner">
  <div class="container">
    <p>
      This should be a short text to present your <strong>tours</strong> and what you want to transmit your <strong>clients</strong> when they travel with you, what you think is special about Morocco.
    </p>
  </div>
</div>

<section>
    <div class="container">
      <div class="row">
        <%= partial 'pages/shared/tours' %>
      </div>
    </div>
</section>
