<% set_meta_tags title: data.site.name + ": " + data.site.description,
                 full_title: false %>
<div class="banner tours">
  <div class="container banner-text">
    <h1>SAHARA JOURNEY</h1>
    <p>Experience the desert</p>
  </div>
</div>
