<% set_meta_tags title: data.site.name + ": " + data.site.description,
                 full_title: false %>
<div class="banner main tours">
  <div class="container">
    <h1>SAHARA JOURNEYS</h1>
    <p>Experience authentic Morocco</p>
  </div>
</div>

<div class="text-banner">
  <div class="container">
    <p>
      This should be a short text to present your <strong>tours</strong> and what you want to transmit your <strong>clients</strong> when they travel with you, what you think is special about Morocco.
    </p>
  </div>
</div>

<section>
    <div class="container">
      <div class="row">
        <% data.tours.each do |tour| %>
          <div class="col-xs-12 col-sm-6">
            <div class="tour-card">
              <div class="tour-card-background"  style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(100,100,86,0.5)), url(<%= tour.picture %>)">
                <h4><%= tour.title %></h4>
                <hr>
                <div class="card-footer">
                  <p><%= tour.summary %></p>
                </div>
              </div>
              <div class="tour-card-hover">
                <h5><%= link_to "View details", "/tours/#{tour.slug}" %></h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
</section>
